flows/OnBoarding-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End_Fault</name>
        <label>End Fault</label>
        <locationX>148</locationX>
        <locationY>603</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FaultErrorMessageOnboarding</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An error occured in the Onboarding - EMS Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>susan.hamilton@cdk.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Case_Owner_ID_w_LaunchEMS</name>
        <label>Assign Case Owner ID w Launch EMS</label>
        <locationX>812</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>VCaseOwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VLaunchEMS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Onboarding_EMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Owner_ID_w_Queue_Name</name>
        <label>Assign Case Owner ID w Queue Name</label>
        <locationX>544</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>VCaseOwnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCaseQueueID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Onboarding_EMS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>WebID_EMS_needs_updating</name>
        <label>WebID EMS needs updating</label>
        <locationX>653</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_Owner_ID_w_Queue_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Launch_EMS_blank_WebID_Sepcialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VLaunchEMS</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VLaunchEMS</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VWebIDEMS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WebID_Email_Specialist_with_Launch_EMS</targetReference>
            </connector>
            <label>Launch EMS &lt;&gt; blank &amp; &lt;&gt; WebID Sepcialist</label>
        </rules>
        <rules>
            <name>Launch_EMS_WebID_EMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VLaunchEMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VWebIDEMS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Owner_ID_w_LaunchEMS</targetReference>
            </connector>
            <label>Launch EMS = WebID EMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>WebID_Status_Validation</name>
        <label>WebID Status Validation</label>
        <locationX>388</locationX>
        <locationY>58</locationY>
        <defaultConnector>
            <targetReference>End_Fault</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WebID_Active_or_New</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VWebIDStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VWebIDStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WebID_EMS_needs_updating</targetReference>
            </connector>
            <label>WebID = Active or New</label>
        </rules>
    </decisions>
    <description>Launch closing triggering Onboarding cases</description>
    <formulas>
        <name>VCaseSubject</name>
        <dataType>String</dataType>
        <expression>{!VLaunchProductType}+&quot; &quot;+{!VLaunchOrderType}+&quot; Onboarding&quot;</expression>
    </formulas>
    <formulas>
        <name>VDescription</name>
        <dataType>String</dataType>
        <expression>&quot; Critical Notes: &quot;+{!VlaunchCriticalNotes} +&quot;  Special Instructions: &quot;+ {!VLaunchSpecialInstructions}</expression>
    </formulas>
    <interviewLabel>OnBoarding 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OnBoarding 1</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Onboarding_EMS</name>
        <label>Create Case Onboarding - EMS</label>
        <locationX>590</locationX>
        <locationY>523</locationY>
        <assignRecordIdToReference>VCaseID</assignRecordIdToReference>
        <faultConnector>
            <targetReference>End_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VLaunchAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddOns__c</field>
            <value>
                <elementReference>VLaunchAddOns</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>VBusinessHoursID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VLaunchContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>VDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>VCaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VCaseOwnerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>VCasePriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>VLaunchProductType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VCaseRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>VCaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>VSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WebID__c</field>
            <value>
                <elementReference>VWebID</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>WebID_Lookup</name>
        <label>WebID Lookup</label>
        <locationX>151</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WebID_Status_Validation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>End_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VWebIDName</elementReference>
            </value>
        </filters>
        <object>WebID__c</object>
        <outputAssignments>
            <assignToReference>VWebID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VWebIDEMS</assignToReference>
            <field>Owner_Marketing_Specialist__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VWebIDStatus</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_WebID_Email_Specialist_with_Launch_EMS</name>
        <label>Update WebID Email Specialist with Launch EMS</label>
        <locationX>897</locationX>
        <locationY>265</locationY>
        <connector>
            <targetReference>Assign_Case_Owner_ID_w_LaunchEMS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>End_Fault</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VWebID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Owner_Marketing_Specialist__c</field>
            <value>
                <elementReference>VLaunchEMS</elementReference>
            </value>
        </inputAssignments>
        <object>WebID__c</object>
    </recordUpdates>
    <startElementReference>WebID_Lookup</startElementReference>
    <textTemplates>
        <name>FaultErrorMessageOnboarding</name>
        <text>Launch
VLaunchName: {!VLaunchName}
VAccountID:{!VLaunchAccountID}
VWebIDName:{!VWebIDName}
VEMS:{!VLaunchEMS}
Contact Name:{!VLaunchContactID}

WebID Lookup
VWebID:{!VWebID}
VStatus: {!VWebIDStatus}
VWebIDName: {!VWebIDName}
VWebSpecialist: {!VWebIDEMS}

Assignment
CaseOwnerID: {!VCaseOwnerID}

Case Creation
CaseID: {!VCaseID}
Record Type: {!VCaseRecordType}
Case Origin: {!VCaseOrigin}
Priority: {!VCasePriority}
Status: {!VCaseStatus}
Description: {!VDescription}
Subject: {!VSubject}
Brand: {!VLaunchBrand}
Product Type: {!VLaunchProductType}
Add Ons: {!VLaunchAddOns}</text>
    </textTemplates>
    <variables>
        <name>VAccountAdvocate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VBusinessHoursID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01m40000000LZskAAG</stringValue>
        </value>
    </variables>
    <variables>
        <description>Variable Case ID</description>
        <name>VCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Services</stringValue>
        </value>
    </variables>
    <variables>
        <name>VCaseOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>P@</description>
        <name>VCasePriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>P2</stringValue>
        </value>
    </variables>
    <variables>
        <description>Place holder for Case Queue lookup routine</description>
        <name>vCaseQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00G40000001L7e0</stringValue>
        </value>
    </variables>
    <variables>
        <description>Place holder for Case record type lookup routine. Case record type is set to Onboarding EMS.</description>
        <name>VCaseRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>01240000000ICTwAAO</stringValue>
        </value>
    </variables>
    <variables>
        <name>VCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </variables>
    <variables>
        <name>VLaunchAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VLaunchAddOns</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VLaunchBrand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VLaunchContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VlaunchCriticalNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VLaunchEMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable Launch ID</description>
        <name>VLaunchName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VLaunchOrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable Launch Product Type</description>
        <name>VLaunchProductType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable Launch Record Type</description>
        <name>VLaunchRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Launch Comments</description>
        <name>VLaunchSpecialInstructions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VLaunchWebIDName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>VCaseSubject</elementReference>
        </value>
    </variables>
    <variables>
        <name>VWebID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VWebIDAASpecialist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VWebIDEMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VWebIDName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable WebID Status</description>
        <name>VWebIDStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
